{% extends "base.twig" %}

{% block title %}403 - Forbidden{% endblock title %}

{% block content %}

    <h1>403 Forbidden</h1>
    <p>That feature is restricted to staff only. Please try again later.</p>

{% endblock %}
