<span class="icon-text">
    <span class="icon">
        <figure class="image">
            <img class="is-rounded" src="{{ char.getAvatarURL() }}" alt="Character avatar" referrerpolicy="no-referrer"/>
        </figure>
    </span>
</span>
