{% extends "base.twig" %}

{% block content %}
    <section class="content">
        <h1>About Us</h1>
        <p>Welcome to WormRP! We are a roleplay community set in the setting of <a
                    href="https://parahumans.wordpress.com/"><em>Worm</em></a>,
            a superhero web serial made by Wildbow. Our setting is an Alternative Universe of that found in canon, and
            while
            reading the novel is encouraged, it is in no way required to hop into the action.</p>
        <p>Based in the city of Devilfish, Minnesota, a city that has just crossed the threshold between medium-sized
            boom-town into a flourishing major city, and with that increase of wealth, size, and population comes the
            inevitable flood of super powered parahumans looking to capitalize on it.</p>
        <p>Be they hero, villain, and all those in-between, we invite you to join us and help us build this setting
            together!</p>
    </section>

{% endblock %}
