{% extends "base.twig" %}

{% block content %}
    <section class="content">
        <h1>About Us</h1>
        <p>Welcome to WormRP! We are a roleplay community set in the setting of <a href="https://parahumans.wordpress.com/"><em>Worm</em></a>, a superhero web serial made by Wildbow. Our setting is an
            Alternative Universe of that found in canon, and while reading the novel is encouraged, it is in no way required to hop into the action.</p>
        <p><strong>Please note that we just had a canon reset and format change due to reddit dying.</strong> Please pardon the dust as we set up our new system. For more information, please drop by
            the discord server linked above.</p>
    </section>

{% endblock %}
