{% extends "base.twig" %}

{% block title %}Reports - WormRP{% endblock title %}

{% block content %}

    <h1>Reports & Information</h1>
    <ul>
        <li><a href="/reports/queue">WormRP Approval Queue</a></li>
        <li><a href="/reports/charcheck">Wiki Character Audit</a></li>
    </ul>

{% endblock %}
