<span class="icon-text">
  <span class="icon">
    <figure class="image">
    <img class="is-rounded" src="{{ user.getAvatarURL() }}" alt="User avatar"
         referrerpolicy="no-referrer"/>
    </figure>
  </span>
  <span><a href="/user/{{ user.username }}">{{ user.displayName }}</a></span>
</span>