{% extends "base.twig" %}

{% block title %}Wiki Audit - WormRP{% endblock title %}

{% block content %}

    <h1>Wiki Character Audit</h1>
    <p><em>Note: this functionality is not yet reimplemented. Please consult the <a
                    href="https://syl.ae/wormrp/characters.php">old site</a> for now.</em></p>

{% endblock %}
