{% extends "base.twig" %}

{% block title %}Create a WormRP Wiki cape page{% endblock title %}

{% block content %}

    <h1>Create a WormRP Wiki cape page</h1>
    <form method="GET">
        <p>Put your cape name here and hit Submit: <input name="name" placeholder="Cumulus Girl" /></p>
        <p><input name="submit" type="submit" /></p>
    </form>

{% endblock %}
