{% extends "base.twig" %}

{% block title %}Wiki Wizard{% endblock title %}

{% block content %}
    <form method="get">
        <input type="hidden" name="csrf" value="{{ csrf }}">

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="name">Cape name</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" name="name" id="name" required="required">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="button is-primary" type="submit" value="Create wiki page">
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
